*{
 	box-sizing: border-box;
}

 body{ 
 	margin: 0;
 	padding: 0;
 	color: white;
 	background: green;
 	text-align: center;
 	font-family: Arial, Times New Roman;
 }

.screen{
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
}

 #randomNums{
 	font-size: 300px;
 	font-weight: bold;
 	padding: 0;
 	margin: 0;
 }

 button{
 	border-radius: 5px;
 	padding: 5px 15px;
 	font-size: 18px;
 	font-weight: bold;
 	margin-bottom: 15px;
 	cursor: pointer;
 	color: green;

 }

 button:hover{
    color: #0C4B03;
    padding: 5px 20px;
 }

 .settings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 	margin-top: 15px;
 }

 input, select{
 	padding: 0;
 	text-align: center;
	margin: 3px 10px; 	
	border-radius: 5px;
 	 }

 label{
 	padding-top: 5px;
 }



@media screen and (max-width: 400px) {
  #randomNums{
 	font-size: 130px;
 	font-weight: bold;
 }
 
 .settings{
 	flex-direction: column;
 	width: 90%;
 	margin: auto;
 	border-top: 1px solid white;
 }
 
 select, option{
	padding-left: 45%;
 }
 
}