html{
	margin: 0;
	padding: 0;
}
 body{ 
 	margin: 0;
 	padding: 0;
 	color: white;
 	background: green;
 	text-align: center;
 	font-family: Arial, Times New Roman;
 }

 *{
 	box-sizing: border-box;
 }
.screen{
	display: block;
	padding: 0;
}

 #RandomNums{
 	font-size: 360px;
 	font-weight: bold;
 	padding: 0;
 	margin: 0;
 }

 button{
 	border-radius: 5px;
 	padding: 5px 15px;
 	font-size: 18px;
 	font-weight: bold;

 }

 button:hover{
 color: gray;
 padding: 5px 20px;
 }

 .settings{
 	margin-top: 15px;
	padding: 10px 0;
	border: 2px solid gray;
 }

 input, select{
	margin-right: 50px; 	
 	 }
 input:hover{
 	color: red;
 }	 