*{
 	box-sizing: border-box;
}

 body{ 
 	margin: 0;
 	padding: 0;
 	color: white;
 	background: green;
 	text-align: center;
	font-family: 'Times New Roman', Times, serif; 
	}

.screen{
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
}

 #randomNums{
 	font-size: 350px;
 	font-weight: bold;
 	padding: 0;
 	margin:0;
 }

 #startBtn{ 
 	position: absolute;
 	right: 40%;
 	bottom: 20px;
 	border-radius: 0 20px;
 	padding: 10px 100px;
 	font-size: 25px;
 	font-weight: bold;
	cursor: pointer;
	color: green;
	visibility: visible;
 }
 
 #startBtn:hover{
    color:#09500b;
 }
 #lineOfRndNum{
 	padding: 0;
 	margin-bottom: 10px;
 }

 .settings {
	border-left: 2px dotted white;
	position: absolute;
	background-color:green;
	width: 20%;
	height: 100%;
	top: 0;
	right: 0;
	display: none;
 }

 input, select{
	padding: 5px;
	margin-top: 20px;
 	text-align: center;	
	border-radius: 5px;
	}
	  
 label{
	padding-top: 50px;
 }


/*menu*/
.container {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;

  }
  
  .bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }

/*Loader*/
#loader {
	  display: none;
	  position: absolute;
	  left: 45%;
	  top: 50%;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid green;
	  width: 80px;
	  height: 80px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


/*Responsive*/
@media screen and (max-width: 750px) {
  #randomNums{ 
  	padding: 180px 5px 120px 5px;
 	font-size: 100px;
 	font-weight: bold;
 }

 .settings{
	width: 100%;
	border-left: none;
 }

 #startBtn{
	right: 25%;
 	padding: 5px 50px;
 	z-index: -1;
} 